html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
:root {
    /* Color */
    --surface: #c0c0c0;
    --button-highlight: #ffffff;
    --button-face: #dfdfdf;
    --button-shadow: #808080;
    --window-frame: #0a0a0a;
    --dialog-blue: #000080;
    --dialog-blue-light: #1084d0;
    --dialog-gray: #808080;
    --dialog-gray-light: #b5b5b5;
    --link-blue: #0000ff;
}

body{
    /* margin: 0; */
    font-family: 'Noto Serif', serif;
    font-family: 'Roboto Mono', monospace;
    min-height: 100vh;
    background-color: #fef3ef;
    color:#27233a;
    scroll-snap-type: y proximity;
}

section{
    height: 100vh;
    /* height:100vh;
    padding-top:10px;
    scroll-snap-align: start;
    overflow-y: auto;   */
    scroll-snap-align: start;
    margin:10px 10px;
 }
 .container{
    /* overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    height: 100vh;
    width: 100%; */

 }


#header{
    width: 100%;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
}

/* welcome Text */

#welcometext{
    position: absolute;
    bottom:28.5%;
    user-select: none;
    right:50%;
    transform: translate(50%, -50%) scale(4);
    font-family: "Pixelated MS Sans Serif";
}
/* end of welcome text */

/* blinker */
@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1; 
    }
}
.blink.disabled{
    opacity: 0;
    display: none;
}
.blink{
    width: 10px;
    height:15px;
    position:absolute;
    bottom: 50px;
    user-select: none;
    cursor: pointer;
    right:50%;
    opacity: 1;
    transform: translate(-50%, 0px) scale(8);;
    animation: blink 2s infinite;
    overflow: hidden;
    transition: 1s all;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.blink .bcontainer{
    display: flex;
    width:40px;
    align-items: flex-end;
    overflow: hidden;
}
.blink:hover{
    width: 40px;
}
.blink .shmaet{
    font-size:2px;
    padding-bottom: 5px;

}
/* end of blinker */

/* start of left */

/* left keyframes */
@keyframes header-left-load {
    0%{
        margin-left: -400px;
        opacity: 0;
    }
    100%{
        margin-right:0;
        opacity: 1;
    }
}
@keyframes header-right-load {
    0%{
        margin-left: 75%;
        opacity: 0;
    }
    100%{
        margin-right:0;
        opacity: 1;
    }
}
#header .left{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #27233a;
    color:#fef3ef;
    padding:10px;
    animation: header-left-load 1.75s;
}
#header .left .hidebutton{
    position: absolute;
    cursor: pointer;
    transform: scale(1.5);
    user-select: none;
    transition: .2s all;
    right:10px;
    top:40px;
}
#header .left .hidebutton:hover{
    position: absolute;
    cursor: pointer;
    transform: scale(2.5);
    user-select: none;
}

#header .left b{
    color:white;
}
#header .imageblock{
    width:25%;
    display: flex;
    align-items: flex-end;
}
#header .imageblock img{
    transition: .2s all;
    cursor: pointer;
    user-select: none;
}
#header .imageblock img:hover{
    height:155px;
}
#header .left a:hover{
    font-size: 18px;
}
#header .left .extra-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top:10px;
}
/* end of left */
/* start of right */
#header .right{
    position: relative;
    align-self: flex-end;
    padding:10px;
    background-color:#505168;
    color:#fef3ef;
    margin-left: 5px;
    animation: header-right-load 1.75s;

}
#header .right .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header .right .col span{
    /* color:#fe6847 !important; */
}
#header .right b{
    color: white;
    /* user-select: none; */
}
#header .right .col a, #header .right .col b{
    color:white !important;
    font-size: 24px;
}
#header .right .col a:hover{
    font-size: 24px;
}
#header .right .extra-text{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top:10px;
    text-align: center; 
    color:white;
    justify-content: space-between;

}
/* end of right */
.imageblock div{
    margin-left: 10px;
}
/* end of header */

/* start of objective */

@keyframes load-obj-window {
    0%{
        opacity: 0;
        transform: translateY(-50vh);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

#objective{
    padding:30px 0px;
    transition: .5s all;
    max-height: 100%;
    
}

.off{
    max-height: 0px !important;
    opacity: 0;
}

.objwindow{
    position: relative;
    width:400px;
    height:130px;
    background-color: silver;
    margin:0 auto;
    animation: load-obj-window 1s;
}

.objwindow .wcontent{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    /* width: ; */
    height:120px;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: center; */
    font-family:"Pixelated MS Sans Serif";
    color:black;
}

.objwindow img{
    justify-self: flex-start;
    height:50px;
    margin:0 20px;
}

.objwindow .buttoncontainer{
    margin-top:3.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.objwindow .buttoncontainer .button{
    transform: scale(1.2);
    margin:0 20px;
}

/* end of objectives block */

/* start of skills block */
@keyframes point-loader {
    0%{
        transform: translateX(-100vw) scale(.8);
    }
    100%{
        transform: translateX(0px) scale(.8);
    }
}
#skills{
    height: fit-content;
    position: relative;
}
#skills .blink{
    bottom:-60%;
    right:10%;
}

#skills h2{
    margin:0;
    text-align: center;
    color:#b191ff;
    transform: scale(1.6) translateY(4px);
}


#skills .skills-container{
    height:48vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;

}
#skills .skills-container .pointrow{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin:-20px 1px;
    background-color: var(--surface);
    height: fit-content;
    padding: 10px;
    transform:translateX(-100vw) scale(.8);
    opacity: .7;
    transition: .2s all;
    
    user-select: none;
    /* width:150px; */
    /* justify-content: space-between; */
}

#skills .skills-container .pointrow span{
    color:black;
    margin-top:5px;
    font-family: "Pixelated MS Sans Serif";
}

#skills .skills-container .pointrow:hover{
    opacity: 1;
    z-index: 8;
    transform: translateX(0vw) scale(1.2) !important;
}

#skills .skills-container .pointrow img{
    height: 128px;
}
#skills .skills-container .pointrow .spancont{
    /* margin-left:25px; */
    font-size:24px;
    cursor: pointer;
    user-select: none;
    transition: .2s all;
    text-shadow: #27233a;
}
#skills .skills-container .pointrow .spancont:hover{
    transform: scale(1.25);
}
#skills .skills-container .pointrow .spancont:active{
    transform: scale(1.5);
}
#skills .skills-container .pointrow.active{
    animation: point-loader 1.5s;
    transition: .2s all;
    transform: translateX(0px) scale(.8);
}

/* end of skills block */

/* Projects block */
@keyframes project-loader {
    0%{
        opacity: .1; 
        transform: translateX(-100vw);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
#projects{
    display: flex;
    flex-direction: column;
    width:100%;
}
#projects h2{
    margin:0;
    text-align: center;
}

#projects .project{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width:auto;
    max-width:70%;
    background-color: silver;
    padding:10px;
    margin: 5px auto;
    border-radius: 2px;
    transform: translateX(-100vw);
    font-family: "Pixelated MS Sans Serif";
}

#projects .project.active{
    animation: project-loader 1s;
    transform: translateX(0vw);
}

#projects .project .pleft{
    width:80%;
    height: 100%;
    color:black;

}
#projects .project a{
    
}
#projects .project a:hover{
    
}
#projects .prj-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width:100%;
}

#projects .project .pleft b {
    font-size:24px;
    color:black !important;
    margin:0;
    margin-bottom:20px;
    margin-top:5px;
}

#projects .project .pright{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: .4;
    transition: .2s all;
    user-select: none;
    color:var(--link-blue);
    font-weight: bold;
    text-align: center;

}
#projects .project .pright .language{
    font-size:10px;
}
#projects .project .pright:hover{
    opacity: .8;
    transform: scale(1.25);
}

#projects .project .link{
    position: absolute;
    right:12.5px;
    top:40.5px;
    font-size: 24px;
    cursor: pointer;
    color:black;
    transition: .2s all;
    user-select: none;
}
#projects .project .link:hover{
    transform: scale(1.5);
}
#projects .project .link:active{
    color:white;
}


/* end of projects block */
footer{
   /* position: absolute; */
    width: 100%;
    bottom:0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

footer a:hover{
    font-size: 24px;
}

b{
    color:#505168;
}
a{
    text-decoration: none;
    color:#a491d3;
    transition: .2s all;
    font-weight: 900;
}
a:hover{
    font-size: 32px;

}


